#comics{
  margin-top: 40px;
  .box-comics{
    display: flex;
    flex-wrap: wrap;
    app-hqs{
      width: 50%;
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 991px) {
  #comics{
    .box-comics{
      app-hqs{
        width: 100%;
      }
    }
  }
  .mudarPagina{
    a{
      i{

      }
      span{
        display: none;
      }
    }
  }
}
