#personagens{
  margin-top: 40px;
  .box-personagem{
    display: flex;
    flex-wrap: wrap;
    app-lista-personagem{
      width: 50%;
      padding: 10px;
    }
  }

}

@media only screen and (max-width: 991px) {
  #personagens{
    .box-personagem{
      app-lista-personagem{
        width: 100%;
      }
    }
  }
  .mudarPagina{
    a{
      i{

      }
      span{
        display: none;
      }
    }
  }
}
